body {
    font-family: "Open Sans";
    margin: 88px 80px;

}

#container {

    box-sizing: auto;
    width: 800px;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 24px;
    margin: 48px auto 28px;

}

#container2 {
    background-color: #fdfdfd;
}

#titlePage p {

    font-size: 16px;
    color: #E1624F;
    font-weight: bold;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1B1B1B;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #1B1B1B;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    color: #1B1B1B;
}

#BusanDescription img {

    width: 100%;
    object-fit: cover;
    margin-bottom: 24px;

}

#BusanDescription figcaption {

    text-align: center;
    font-style: italic;
}

#BusanDescription {

    margin: 40px 0px;
    margin-bottom: 40px;
}

#titlePage2 p {

    font-size: 16px;
    color: #E1624F;
    font-weight: bold;
    margin-top: 100px;
}

#Busandestinos p {

    text-align: center;
    font-style: italic;
    margin-bottom: 64px;
}

#Busandestinos img {

    width: 100%;
    object-fit: cover;
    margin-bottom: 24px;

}



#Lista p {
    font-size: 16px;

}

#Lista img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 24px;
    margin-top: 30px;
}

#Lista ul {

    list-style-type: disc;

}

#fim p {
    text-align: center;
    font-style: italic;
    margin-bottom: 64px;
    margin-top: 100px;
    font-size: 14px;
}

#fim2 footer {
    text-align: center;
    font-style: italic;
    margin-bottom: 64px;
    margin-top: 50px;
    font-size: 12px;
}



#Casais {
    font-weight: bold;
    color: #590094;
}

#Historia {
    font-weight: bold;
    color: #0051ff;
}

#Familia {
    font-weight: bold;
    color: #cf00cf;
}

#Orçamento {
    font-weight: bold;
    color: #ffa600;
}